services:
  tbyte-devdb:
    image: mongo:latest
    command: --config /etc/mongo/mongod.conf
    restart: no
    ports:
      - 27017:27017
    volumes:
      - ./etc:/etc/mongo:ro
      - db_data:/data/db
    secrets:
      - mongo_root_user
      - mongo_root_pass
    environment:
      MONGO_INITDB_ROOT_PASSWORD_FILE: /run/secrets/mongo_root_pass
      MONGO_INITDB_ROOT_USERNAME_FILE: /run/secrets/mongo_root_user
  tbyte-devS3:
    image: quay.io/minio/minio
    restart: no
    command: server --console-address :9001 /data
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - s3_data:/data
    secrets:
      - minio_root_user
      - minio_root_pass
    environment:
      MINIO_ROOT_USER_FILE: /run/secrets/minio_root_user
      MINIO_ROOT_PASSWORD_FILE: /run/secrets/minio_root_pass
volumes:
  db_data:
  s3_data:
secrets:
  mongo_root_user:
    file: ./.env/DBROOT_USERNAME.txt
  mongo_root_pass:
    file: ./.env/DBROOT_PASSWORD.txt
  minio_root_user:
    file: ./.env/S3ROOT_USERNAME.txt
  minio_root_pass:
    file: ./.env/S3ROOT_PASSWORD.txt
